body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e8f0ff;
  }
  
  .header {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
  }
  
  .header .logo-container {
    display: flex;
    align-items: center;
  }
  
  .header .logo {
    max-height: 70px;
    width: auto;
    margin-right: 20px;
  }
  
  .header .home {
    color: white;
    text-decoration: none;
    font-size: larger;
  }
  
  .header .home:hover {
    text-decoration: underline;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .nav .profile-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .nav .user-logo {
    max-height: 40px;
    width: auto;
    border-radius: 50%;
  }
  
  .container {
    margin: 20px auto;
    max-width: 1100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .container .header {
    background-color: #2e3b4e;
    color: white;
    padding: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .doctor-list {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .doctor-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .doctor-item:last-child {
    border-bottom: none;
  }
  
  .doctor-info {
    display: flex;
    align-items: center;
    width: 230px;
  }
  
  .doctor-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .doctor-info .details {
    display: flex;
    flex-direction: column;
  }
  
  .doctor-info .details .name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .doctor-info .details .specialty {
    font-size: 14px;
    color: #555;
  }
  
  .schedule {
    display: flex;
    flex-direction: column;
    width: 700px;
  }
  
  .schedule .days {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 14px;
  }
  
  .schedule .hours {
    font-size: 12px;
    color: #777;
  }
  
  .book-btn {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .book-btn:hover {
    background-color: #555;
  }
  