@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.woff2') format('woff2'),
        url('fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --button: #2C2C2C;
    --window: #23436B;
    --background: #94c3ff;
}

body {
    color: var(--background);
}

div {
    color: var(--window);
}

section {
    color: var(--button);
}

p {
    font-family: 'Inter';
}