/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #cce0ff;
  color: #ffffff;
}

.header {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.header .logo h1 {
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
}

.home {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  display: flex;
  align-items: center;
  font-size: larger;
}

.home:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.form-container {
  background-color: #003366;
  padding: 40px;
  border-radius: 10px;
  width: 700px;
  position: relative;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-content {
  background-color: #cce0ff;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
}

.separator {
  width: 1px;
  background-color: #003366;
  margin: 0 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #003366;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  color: #003366;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #333333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.btn:hover {
  background-color: #555555;
}

.header .logo{
  max-height: 70px;
  width: auto;
  margin-left: -20px;
}

.header .user-logo{
  max-height: 70px;
  width: auto;
  margin-left: -20px;
}

.logo-container{
  display: flex;
}
